/*--------------------*/
/* Basic Setup */
/*--------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* foundation color: #e67e22 */



/*--------------------*/
/* REUSABLE COMPONENTS */
/*--------------------*/

html {
	background-color:#fff;
	color: #555;
	font-family: 'Lato', 'Arial';
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}


/* --------HEADINGS -----------*/


h1, h2, h3 {
    
    font-weight:300;
    text-transform:uppercase;
    word-spacing:4px;
}


h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}




/*----------Paragraphs ------- */



/*---------- ICONS ----------------- */




/*--------------------*/
/* HEADER
/*--------------------*/


header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0,0,0,.7)), url(img/sss_header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment:fixed;
}


nav .row {
    padding-top:50px;
    width:100%;
}


div.nav-bar ul {
    list-style: none;
    padding-top:20px;
}

div.nav-bar li {
    display: inline;
    margin-left:20px;
    color:#fff;
    font-size:.9em;
    font-weight:bold;
}

div.header-info {
    margin-top: 40px;
    width: 40%;
    float:left;
    margin-left:15%;
}

div.header-info h1 {
    color:#fff;
    font-size:2.4em;
    font-weight:300;
}

div.header-info div {
    margin-top:50px;
}


div.nav-bar li a {
    text-decoration: none;
    color:#fff;
    transition: color 0.2s;
}

div.nav-bar li a:hover,
div.nav-bar li a:visited
{
    text-decoration: none;
    color:#e67e22;
}


.row-col-row {
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left:10px;
}

.row-col-row-alt {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.row-col-col {    
    display:flex;
    flex-flow:column nowrap;
    align-items: flex-start;
    padding-left:10px;
}
/*--------------------*/
/* BUTTONS */
/*--------------------*/

.btn {
    text-decoration: none;
    width:60px;
    height:60px;
    padding:15px;
    border-radius: 15px;
}

.btn-register:link,
.btn-register:active
{
    color:#fff;
    background-color:#e67e22;
    border:2px solid #e67e22;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.btn-learn-more:link,
.btn-learn-more:active
{
    color:#e67e22;
    border: 2px solid #e67e22;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
}


.btn-register:hover,
.btn-register:visited
{
    color:#e67e22;
    background-color:#fff;
    border:2px solid #fff;
}

.btn-learn-more:hover,
.btn-learn-more:visited {
    color:#fff;
    border:2px solid #fff;
}

/*--------------------*/
/* IMAGES */
/*--------------------*/

.logo img {
    width:100px;
    height:100px;
    border-radius:50%
}