/*--------------------*/
/* Basic Setup */
/*--------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* foundation color: #e67e22 */



/*--------------------*/
/* REUSABLE COMPONENTS */
/*--------------------*/

html {
	background-color:#fff;
	color: #555;
	font-family: 'Lato', 'Arial';
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}


/* --------HEADINGS -----------*/


h1, h2, h3 {
    
    font-weight:300;
    text-transform:uppercase;
    word-spacing:4px;
}


h2 {
    text-align: center !important;
    margin: 0 auto;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.flex-box {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}



/*----------Paragraphs ------- */

.long-copy {
    text-align: center;
    padding: 0 10%;
    line-height: 1.5em;
    word-spacing: .25em;
    text-align: left;
    padding-top:10px
}



/*---------- ICONS ----------------- */




/*--------------------*/
/* HEADER
/*--------------------*/


header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0,0,0,.7)), url(img/sss_header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment:fixed;
}



nav .row {
    padding-top:50px;
    width:100%;
}


.nav-bar ul {
    list-style: none;
    padding-top:20px;
    padding-right:20px;
}

.nav-bar li {
    display: inline;
    margin-left:20px;
    color:#fff;
    font-size:.9em;
    font-weight:bold;
}




.header-info {
    padding-bottom:20px;
    margin: 5% auto;
    padding-left:20px;
    padding-right:20px;
}

.header-info h1 {
    color:#fff;
    font-size:2.4em;
    font-weight:300;
    padding-bottom:40px;
}


.nav-bar li a:link,
.nav-bar li a:active
{
    text-decoration: none;
    color:#e67e22;
    transition: color 0.2s;
}

.nav-bar li a:hover,
.nav-bar li a:visited
{
    text-decoration: none;
    color:#fff;
}


/*--------------------*/
/* BUTTONS */
/*--------------------*/

.btn {
    text-decoration: none;
    width:60px;
    height:60px;
    padding:15px;
    border-radius: 15px;
}

.btn-register
{
    color:#fff;
    background-color:#e67e22;
    border:2px solid #e67e22;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
   
}

.btn-learn-more:link,
.btn-learn-more:active
{
    color:#e67e22;
    border: 2px solid #e67e22;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
}


.btn-register:hover,
.btn-register:visited
{
    color:#e67e22;
    background-color:#fff;
    border:2px solid #fff;
}

.btn-learn-more:hover,
.btn-learn-more:visited {
    color:#fff;
    border:2px solid #fff;
}

/*--------------------*/
/* IMAGES */
/*--------------------*/

.logo img {
    width:100px;
    height:100px;
    border-radius:50%
}


/*--------------------*/
/* BASIC INFO */
/*--------------------*/

.section-basic-info {
    margin-top: 80px;
    margin-bottom: 80px;
}



/*--------------------*/
/* LEAGUES */
/*--------------------*/

.section-leagues {
    padding: 0;
}

.leagues-showcase {
    list-style:none;
    width:100%;
}

.leagues-showcase li {
    display:block;
    float:left;
    width:25%;
}

.league-photo {
    width:100%;
    height:250px;
    margin:0;
    overflow:hidden;
    background-color:#000;
}

.league-photo img {
    width:100%;
    height:100%;
    transform:scale(1.15);
    transition: transform 0.5s;
    opacity: 0.7;
}

.league-photo img:hover {
    transform: scale(1.03);
    opacity:1;
}


/*--------------------*/
/* REGISTRATION SECTION */
/*--------------------*/


.section-steps {
    background-color: #f2f2f2;
    padding-top:80px;
    padding-bottom:80px;
}


.large-icon {
    width:80%;
    font-size:7em;
}


.steps-box {
    padding-top: 40px;
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.signup-step {
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: flex-start;
    padding-top:40px;
}

.step-number {
    color:#e67e22;
    border: 2px solid #e67e22;
    border-radius:50%;
    height:50px;
    display:block;
    width:50px;
    text-align:center;
    font-size:1.5em;   
}

.step-description{
    margin-left:20px;
}

.signup {
    margin-top:40px;
}

.btn-signup {
    border: 2px solid #e67e22;
    background-color:#e67e22;
    color:white;
    font-weight:bold;
}


/***********************************/
/**** LOCATIONS ****/
/**********************************/

.section-locations {
    margin-top:80px;
    margin-bottom:80px;
}

.box img {
    width:100%;
    height: 200px;
    margin-bottom:20px;
    margin-top:20px;
}

.city-feature {
    margin-bottom:5px;
}

.city-feature a:visited,
.city-feature a:link {
    text-decoration: none;
    color: #e67e22;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

.city-feature a:hover,
.city-feature a:active {
    color:#555;
    border-bottom: 1px solid transparent;
}

.icon-small {
    display: inline-block;
    width: 30px;
    color: #e67e22;
    font-size: 120%;
    
    margin-right: 20px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}


/***********************************/
/**** NEWSLETTER ****/
/**********************************/


.section-newsletter {
    background-color: #f2f2f2;
    padding-top:80px;
    padding-bottom:80px;
}

.email-form {
    text-align: center;
    padding-top:5%;
}

.email-form input {
    width:30%;
    height:50px;
    border-radius:20px;
    text-align: center;
}


/***********************************/
/**** Testimonials ****/
/**********************************/


.section-testimonials {
    margin-top: 80px;
    margin-bottom: 80px;
}

blockquote {
    padding:2%;
    font-style:italic;
    line-height: 1.45em;
    position: relative;
     margin-top:40px;
}

cite {
    font-size: .9em;
    display:block;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display:block;
    position:absolute;
    top: 0;
    left:-3px;
   
}



cite img {
    height: 80px;
    width: 80px;
    border-radius: 40%;
    vertical-align: middle;
    margin-right: 10px;
}

.testimonials-flex {
    display:flex;
    justify-content: space-around;
    padding-top:60px;
}

.testimonial-box {
    display:flex;
    flex-flow:column;
    width:50%;
    align-items: flex-start;
    justify-content: flex-start;
}

.test-quote {
    width:70%;
    align-self: flex-start;
}

.test-cite{
    align-self: flex-end;
    margin-right:20%;
}